<div class="container">
    <nav>
        <div id="admin-portal">
            <img src="../../static/images/logo.jpg" alt="Logo">
            Admin Portal
        </div>
        <div id="right-links">
            <a href="/">Home</a>
            <a href="/bookings">Bookings</a>
            <a href="/about">About Us</a>
        </div>
    </nav>
</div>