<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/css/delux-style.css">
    <link rel="stylesheet" href="../static/css/nav-style.css">
    <link rel="stylesheet" href="../static/css/about.css">
</head>

<body>
    {{>navbar}}
    <div class="about-container">
        <h1>About Our Hotel</h1>
        <div class="about-section">
            <p>
                <strong>Our Mission</strong><br>
                At Rawat Hotel, our mission is to provide an exceptional and personalized hospitality experience
                for every guest. We are committed to delivering unparalleled service, ensuring the utmost comfort, and
                creating memorable moments that last a lifetime. Through attention to detail, dedication to customer
                satisfaction, and a passion for hospitality, we strive to exceed expectations and make every stay with
                us truly special.
            </p>
            <img src="../static/images/Mission1.jpg" alt="Our Mission Image">
        </div>

        <div class="about-section">
            <img src="../static/images/Vision.jpg" alt="Key Features Image">
            <p>
                <strong>Our Vision</strong><br>
                "Our vision at Rawat Hotel is to be a distinguished leader in the hospitality industry, setting
                new standards for luxury, service, and innovation. We aim to create an environment where guests feel
                welcomed, valued, and inspired. By embracing continuous improvement, embracing sustainable practices,
                and fostering a culture of excellence, we aspire to be the top choice for travelers seeking unparalleled
                luxury and exceptional service."
            </p>
        </div>

        <div class="about-section">
            <p>
                <strong>Meet Our Team</strong><br>
                At Rawat Hotel, our dedicated team is committed to ensuring your stay is exceptional. Comprising
                passionate professionals, we strive for a seamless and personalized experience. From the attentive
                concierge to the skilled chefs and diligent housekeeping, each member plays a vital role in enhancing
                your visit. We foster a welcoming atmosphere, where genuine care and attention to detail define our
                service. Our goal is to make your stay truly memorable, leaving you with a sense of warmth and
                satisfaction. Experience the dedication of our team, making every moment of your stay extraordinary.
            </p>
            <img src="../static/images/mission.jpg" alt="Meet Our Team Image">
        </div>
    </div>
</body>

</html>