body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.about-container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

h1 {
    text-align: center;
    text-decoration:underline;
}

.about-container h1 {
    color: #333;
}

.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.about-section p,
.about-section ul {
    flex: 1;
    padding: 0 10px;
}

.about-section img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}